     <div class="body">
     <div class="ALign">
     <h4>Products</h4>
     <button type="button" class="ybutton" (click)="update()">Sync</button>
    </div>
   

<div class='container'>
     <div *ngFor="let pro of products" class="each">
        <img [src]=pro.imageUrl width="100" height="175" />  
       <h4> {{pro.category}} </h4>
        {{pro.id}}
        {{pro.name}}
       <li class="price"> {{pro.price | currency}}</li>
        <button class="Bbutton" (click)="getbyId()">Sync</button>
    </div>
    

</div>
</div>
